<!-- HTML PAGE -->
<html>
    <head>
    <title>Admin Accounts Logged In</title>
    </head>

    <!-- Include header info -->
    <%- include ('./partials/header.ejs') %>
    
    <style>
        table {
        border-collapse: collapse;
        width: 100%;
        }

        th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #DDD;
        }

        tr:hover {background-color: #D6EEEE;}
    </style>

    <body>
        <h1>ADMIN Account Info</h1>
        <p>Name: <%= account_name %></p>
        <p>Password: <%= account_password %></p>
        <p>Sound: <%= account_sound %></p>

        <h2>Account Modifications</h2>
        <form action="">
            <label for="new_account_name">New Account Name:</label>
            <input id="new_account_name" type="text"><br><br>
            <label for="new_account_password">New Password:</label>
            <input id="new_account_password" type="text"><br><br>
            
            <label for="account_name">Current Account Name:</label>
            <input id="account_name" type="text"><br><br>
            <label for="account_password">Current Password:</label>
            <input id="account_password" type="text"><br><br>
            <button type="button" id="sendIt">Make Changes</button>
        </form>
    
<!-- Put all users here -->
        <div class="table-data">
            <h2>User Table</h2>
            <table border="1px">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Sound</th>
                    <th>RFID code</th>
                    <th>Password</th>
                    <th>Admin</th>
                    <th>Modifier</th>
                    <th>Is Default</th>
                    <th>Modify</th>
                </tr>
                
                <%
                if(accountData.length!=0){
                    var i=1;
                    accountData.forEach(function(data){
                %>
                <tr>
                    <td><%=data.id %></td>
                    <td><%=data.name %></td>
                    <td><%=data.sound %></td>
                    <td><%=data.rfid_code %></td>
                    <td><%=data.password %></td>
                    <td><%=data.admin %></td>
                    <td><%=data.modifier %></td>
                    <td><%=data.is_default %></td>
                    <td><button class="sendIt" value="<%=data.name %>">Modify</button></td>

                </tr>
                <%  i++; }) %>
                <% } else{ %>
                    <tr>
                        <td colspan="7">No Data Found</td>
                    </tr>
                <% } %>
            </table>
        </div>

    </body>
</html>

<script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous">
</script>

<script type="text/javascript" src="/views/js/accounts_admin.js"></script>

